<!Doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="title" content="Life Transformation Coach">
        <meta name="description" content="Feeling stuck? Knowing you have more to give to the world but unsure about where to begin? Even the strongest amongst us can feel lost, unsure, ambivalent, or disenfranchised by setbacks.
            As a Transformation Coach, I can help you connect with your true identity, leverage everything you have on the inside of you.">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="author" content="TopeMomoh.com">
        <meta name="keywords"
            content="TopeMomoh.com, TopeMomoh, School of Purpose, Learn about purpose, discover purpose, find my purpose, study on purpose" />
        
        <!-- Facebook OpenGraph Metadata -->
        <meta property="og:title" content="Tope Momoh">
        <meta property="og:description" content="Life Transformation Coaching | TopeMomoh.com">
        <meta property="og:image" content="{{ static('img/logo.jpeg') }}">
        <meta property="og:image:width" content="1200" />
        <meta property="og:image:height" content="630" />
        <meta property="og:url" content="https://www.topemomoh.com">
        <meta property="og:type" content="website"/>

        <!-- Twitter OpenGraph Metadata -->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@TopeMomoh" />
        <meta name="twitter:title" content="TopeMomoh">
        <meta name="twitter:creator" content="@TopeMomoh">
        <meta name="twitter:description" 
            content="Feeling stuck? Knowing you have more to give to the world but unsure about where to begin? Even the strongest amongst us can feel lost, unsure, ambivalent, or disenfranchised by setbacks.
            As a Transformation Coach, I can help you connect with your true identity, leverage everything you have on the inside of you.">
        <meta name="twitter:image" content="{{ static('iamges/logo.png') }}">
        <meta name="twitter:image:alt" 
            content="Feeling stuck? Knowing you have more to give to the world but unsure about where to begin? Even the strongest amongst us can feel lost, unsure, ambivalent, or disenfranchised by setbacks.
            As a Transformation Coach, I can help you connect with your true identity, leverage everything you have on the inside of you.">
        
        <!-- Favicon -->        
        <link rel="apple-touch-icon" sizes="180x180" href="{{ static('favicon/apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ static('favicon/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="192x192" href="{{ static('favicon/android-chrome-192x192.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ static('favicon/favicon-16x16.png') }}">
        <link rel="manifest" href="{{ static('favicon/site.webmanifest') }}">
        <link rel="mask-icon" href="{{ static('favicon/safari-pinned-tab.svg') }}" color="#262b2c">
        <meta name="msapplication-TileColor" content="#2b5797">
        <meta name="theme-color" content="#ffffff">

        <link rel="preconnect" href="https://fonts.gstatic.com/">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&amp;display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ static('style.css') }}" />
        <title>Temitope Momoh | Life Coach</title>
    </head>

    <body>
        <div class="site-mobile-menu site-navbar-target">
            <div class="site-mobile-menu-header">
                <div class="site-mobile-menu-close">
                    <span class="icofont-close js-menu-toggle"></span>
                </div>
            </div>
            <div class="site-mobile-menu-body"></div>
        </div>
        <nav class="site-nav">
            <div class="container">
                <div class="site-navigation">
                    <div class="row">
                        <div class="col-md-6 text-center order-1 order-md-2 mb-3 mb-md-0">
                            <a href="{{url('home')}}" class="logo m-0 text-uppercase">Temitope Momoh</a>
                        </div>
                        <div class="col-md-3 order-3 order-md-1">
                            <form action="{{url('blogSearch')}}" method='get' class="search-form">
                                <span class="icon-search2"></span>
                                <input type="search" name='search' class="form-control" placeholder="Search...">
                            </form>
                        </div>
                        <div class="col-md-3 text-end order-2 order-md-3 mb-3 mb-md-0">
                            <div class="d-flex">
                                <ul class="list-unstyled social me-auto">
                                    <li><a href="#"><span class="icon-twitter"></span></a></li>
                                    <li><a href="#"><span class="icon-facebook"></span></a></li>
                                    <li><a href="#"><span class="icon-instagram"></span></a></li>
                                </ul>
                                <a href="#" class="burger ms-auto float-end site-menu-toggle js-menu-toggle d-inline-block"
                                    data-toggle="collapse" data-target="#main-navbar">
                                    <span></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <ul class="js-clone-nav d-none d-lg-inline-none text-start site-menu float-end">
                        <li><a href="{{url('home')}}">Home</a></li>
                        <li class="has-children active">
                            <a href="#">Categories</a>
                            <ul class="dropdown">
                                <li><a href="{{url('discovery')}}">Purpose Discovery</a></li>
                                <li><a href="{{url('upliftment')}}">Spiritual Upliftment</a></li>
                                <li><a href="{{url('empowerment')}}">Youth Empowerment</a></li>
                                <li><a href="{{url('foundation')}}">TM Foundation</a></li>
                                <li><a href="{{url('training')}}">Training School</a></li>
                                {#<li class="has-children">
                                    <a href="#">Dropdown</a>
                                    <ul class="dropdown">
                                        <li><a href="#">Sub Menu One</a></li>
                                        <li><a href="#">Sub Menu Two</a></li>
                                        <li><a href="#">Sub Menu Three</a></li>
                                    </ul>
                                </li>#}
                            </ul>
                        </li>
                        <li><a href="{{url('discovery')}}">Purpose Discovery</a></li>
                        <li><a href="{{url('upliftment')}}">Spiritual Upliftment</a></li>
                        <li><a href="{{url('empowerment')}}">Youth Empowerment</a></li>
                        <li><a href="{{url('foundation')}}">TM Foundation</a></li>
                        <li><a href="{{url('training')}}">Training School</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        {# body content #}
        {% block bodyContent %}{% endblock bodyContent %}
        {# footer #}
        {% include 'partials/_footer.html' %}
        {# preloader #}
        {% include 'partials/_preloader.html' %}
        {# script block #}
        {% block extraScript %}
            <script src="{{ static('js/bootstrap.bundle.min.js') }}"></script>
            <script src="{{ static('js/tiny-slider.js') }}"></script>
            <script src="{{ static('js/glightbox.min.js+aos.js+navbar.js+counter.js+custom.js.pagespeed.jc.B7bFTsJZUK.js') }}">
            </script>
            <script>
                eval(mod_pagespeed_KpCH1a$C_m);
            </script>
            <script>
                eval(mod_pagespeed_Ej3jj9tqUo);
            </script>
            <script>
                eval(mod_pagespeed_Pkx$Oz4Gi9);
            </script>
            <script>
                eval(mod_pagespeed_9lpIcAXJZV);
            </script>
            <script>
                eval(mod_pagespeed_GIrE68D1a2);
            </script>

            <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
            <script>
                window.dataLayer = window.dataLayer || [];

                function gtag() {
                    dataLayer.push(arguments);
                }
                gtag('js', new Date());

                gtag('config', 'UA-23581568-13');
            </script>
        {% endblock extraScript %}
            
    </body>
</html>